@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px ;
}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /* background: linear-gradient(45deg, red 0 10%, blue 50% 100%); */
}

header {
    background: #A0DABF;
    padding: 1rem;
    text-align: center;
    height: 17rem;
    background: linear-gradient(#A0DABF, white);
}

header h1 a{
    margin: 0;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-container {
    margin: 2rem auto;
    text-align: center;
}

#search-input {
    padding: 0.5rem;
    border-radius: 4rem;
    border: none;
    width: 50%;
    margin-right: 0.5rem;
    border: 0.15rem solid #A0DABF;
    outline: none;
    box-shadow: var(--box-shadow);
}

#search-button {
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    border: none;
    background-color: #A0DABF;
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    max-width: 25rem;
}

#result-container {
    margin: 2rem auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 2rem;
    max-width: 60%;
    color: white;
    background: #A0DABF;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    line-height: 1.5rem;
    max-width: 25rem;
}

#result-container a{
    text-decoration: none;
    color: #A0DABF;
    background: white;
    padding: 0.3rem;
    border-radius: 105px;
    font-weight: 700;
    box-shadow: rgba(102, 184, 145, 0.8)  0 4px 0 ;
}

#result-container strong {
    font-size: 1.1rem;
    /* border:1px solid white; */
}
footer {
    box-sizing: border-box;
    /* background: #A0DABF; */
    text-align: center;
    /* padding: 1rem; */
    position: fixed;
    bottom: 0;
    width: 100%;
    /* box-shadow: var(--box-shadow); */
    font-weight: 600;
    height: 8rem;
    background: linear-gradient(white, #A0DABF);
}

footer p{
    /* align-items: center; */
    justify-content: center;
    padding-top: 4.5rem;
}

main {
    color: #A0DABF;
    padding: 0 1rem 0 ;
}

.hidden {
    display: none;
}
/* Add this rule to hide the result container initially */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.4rem;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search-input {
        width: 85%;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    #search-button {
        width: 89%;
        margin-top: 0.5rem;
    }

    #result-container {
        width: 80%;
        margin: 2rem auto;
    }
}
